.home_page {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  &::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($gold_color, 1);
    content: "";
    width: 100%;
    clip-path: polygon(0 0, 10% 0, 30% 100%, 0% 100%);
    box-shadow: 0 0 7px rgba($black_color, 0.6);
  }
  .img_box {
    img {
      border-radius: 30px;
      height: calc(100vh - 80px);
      object-fit: cover;
      box-shadow: 0 0 7px rgba($black_color, 0.6);
    }
  }
  .about_intro_box {
    padding: 0 75px 0 60px;
    .name_jop {
      padding: 0 0 0 100px;
      position: relative;
      &::after {
        height: 4px;
        content: "";
        top: 30px;
        left: 20px;
        width: 50px;
        background-color: rgba($gold_color, 1);
        position: absolute;
      }
      .name {
        font-size: 40px;
        line-height: 62px;
        font-weight: 700;
        color: rgba($gold_color, 1);
        @extend%goldSelection ;
      }
      .jop {
        font-size: 30px;
        line-height: 56px;
        font-weight: 600;
        color: rgba($white_color, 1);
        @extend%whiteSelection ;
      }
    }
    .intro_prag {
      margin: 15px 0 28px;
      font-size: 14px;
      line-height: 35px;
      color: rgba($white_color, 1);
      width: 90%;
      &::selection {
        color: rgba($gold_color, 1);
        background-color: rgba($black_color, 1);
      }
    }
  }
}

@media (max-width: 1200px) {
  .home_page {
    .about_intro_box {
      padding: 0;
      .name_jop {
        padding: 0 0 0 80px;
        .name {
          font-size: 40px;
        }
        .jop {
          font-size: 30px;
        }
      }
      .intro_prag {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .home_page {
    .about_intro_box {
      padding: 0;
      .name_jop {
        padding: 0 0 0 80px;
        .name {
          font-size: 34px;
        }
        .jop {
          font-size: 28px;
        }
      }
      .intro_prag {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 992px) {
  .order_m {
    order: -1;
  }
  .buttom_link {
    a {
      padding: 10px 26px !important;
      font-size: 14px !important;
    }
  }
  .sochile_box {
    margin: 0 auto !important;
  }

  .home_page {
    .img_box,
    .about_intro_box {
      text-align: center;
      .intro_prag {
        margin: 15px auto 28px;
      }
    }
  }
}
@media (max-width: 768px) {
  .home_page {
    &::after {
      display: none;
    }
    .img_box {
      text-align: center;
      img {
        margin: 0 auto;
        border-radius: 50%;
        width: 270px;
        height: 270px;
        border: 4px solid #252525;
        margin: 0 auto 25px;
      }
    }
    .about_intro_box {
      text-align: center;
      .name_jop {
        &::after {
          display: none;
        }
        padding: 0;
      }
      .intro_prag {
        width: 100%;
      }
    }
  }
  .sochile_box {
    margin: 0 auto !important;
  }
}

@media (max-width: 992px) {
  .home_page {
    .about_intro_box {
      padding: 50px;
    }
  }
}
@media (max-width: 552px) {
  .curserBox {
    display: none !important;
  }
  .home_page {
    .about_intro_box {
      padding: 0;
      .name_jop {
        .name {
          font-size: 30px;
        }
        .jop {
          font-size: 22px;
        }
      }
      .intro_prag {
        text-align: justify;
        line-height: 30px;
      }
    }
  }
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid rgba($gold_color, 1);
  border-radius: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.1s;
}
.cursor2 {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  position: fixed;
  left: 51.5%;
  top: 53.5%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  pointer-events: none;
  transition: 0.1.5s;
  background-color: rgba($white_color, 1);
}
